@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
// VARIABLES
// Media Queries
$mobile: 480px;
$tablet: 768px;
//Fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
//Colors
$color-light: rgb(255, 255, 255);
$color-medium: #ded765;
$color-dark: rgb(0,0,10);
$color-accent-primary:	#eac440;
$color-accent-secondary: #a7bc17;
//Box Shadow
$shadow-main: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);


* {
  margin: 0; padding: 0;
  outline: 0; box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}
p, button, span, a {
  font-family: $secondary-font;
}
a {
  color: black;
  text-decoration: none;
}

//NAVBAR
.navbar {
  width: 100%;
  position: sticky;
  top: 0; z-index: 10;
  background: $color-dark;
  .links {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid $color-light;
    a {
      transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      font-size: 32px;
      color: rgba(255, 255, 225,.5);
      padding: 10px 20px;
      @media all and (max-width: $mobile) {
        font-size: 24px;
      }
      &:hover {
        color: $color-accent-primary;
        cursor: pointer;
      }
    }
  }
}

//HERO
.hero {
  width: 100%; height: 100vh;
  background: $color-dark;
  display: flex; flex-direction: column; align-items: center;
  padding-top: 150px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
  @media all and (max-width: $mobile) {
    padding-top: 100px;
  }
  .header {
    margin-bottom: 50px;
    
    h1 {
      font-size: 64px;
      color: $color-accent-primary;
      @media all and (max-width: $mobile) {
        font-size: 32px;
      }
    }
    p {
      font-size: 32px;
      color: $color-light;
      @media all and (max-width: $mobile) {
        font-size: 24px;
      }
    }
  }
  .links {
    flex: 1 0 100%;
    display: flex; justify-content: center;
    @media all and (max-width: $mobile) {
      flex-direction: column; justify-content: flex-start;
    }
    a {
      height: 60px;
      padding: 10px 30px;
      font-size: 24px;
      color: $color-light;
      transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        color: $color-dark;
        background: $color-accent-primary;
        cursor: pointer;
      }
    }
    :nth-child(1) {
      border-left: 2px solid $color-accent-primary;
    }
    :nth-child(2) {
      border: 2px solid $color-accent-primary;
    }
    :nth-child(3) {
      border-right: 2px solid $color-accent-primary;
    }
  }
}

//ABOUT
.about {
  width: 100%;
  background: $color-light;
  padding: 50px 0 100px 0;

  .heading {
    display: flex; flex-direction: column; align-items: center;
    margin-bottom: 50px;
    h1 {
      text-align: center;
      margin-bottom: 10px;
      font-size: 64px;
      color: $color-dark;
    }
    .line {
      width: 100px; height: 5px;
      text-align: center;
      background: $color-dark;
    }
  }
  .description {
    max-width: 720px;
    margin: 50px auto;
    padding: 25px;
    background: $color-dark;
    border-radius: 25px;
    text-align: center;
    @media all and (max-width: $tablet) {
      max-width: 400px;
    }
    p {
      color: $color-light;
      font-size: 24px;
    }
    a {
      padding: 5px;
      border: 2px solid $color-light;
      color: $color-light;
      
    }
  }
  .tech-stack {
    padding: 10px;
    background: $color-accent-primary;
    box-shadow: $shadow-main;
    .heading {
      margin-bottom: 25px;
      h3 {
        padding-left: 5px;
        text-align: center;
        font-size: 32px;
        color: $color-dark;
        border-left: 3px solid $color-dark;
      }
    }
    .items {
      text-align: center;
      .item {
        font-size: 48px;
        color: $color-dark;
        margin: 0 5px;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
          color: $color-light;
        }
      }
    }
  }
}

//PROJECTS
.projects {
  width: 100%;
  background: $color-dark;
  padding: 50px 0 150px 0;
  position: relative;

  .heading {
    display: flex; flex-direction: column; align-items: center;
    margin-bottom: 50px;
    h1 {
      text-align: center;
      margin-bottom: 10px;
      font-size: 64px;
      color: $color-light;
    }
    .line {
      width: 100px; height: 5px;
      text-align: center;
      background: $color-light;
    }
  }
  .project-cards-container {
    display: flex; justify-content: space-evenly; flex-wrap: wrap;
    .project-card {
      width: 250px; height: 250px;
      position: relative; display: flex;
      border: 2px solid $color-light;
      margin: 10px;
      .title {
        width: 100%;
        align-self: flex-end;
        text-align: center;
        font-size: 24px;
        background: $color-light;
        color: $color-dark;
        line-height: 32px;
      }
      .overlay {
        position: absolute;
        width: 100%; height: calc(100% - 32px);
        top: 0; left: 0;
        background: rgba(0,0,0,.25);
        display: flex; align-items: flex-end;
        opacity: 0;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        a {
          width: 50%;
          background: $color-accent-primary;
          padding: 5px;
          text-align: center;
          font-size: 16px;
          &:hover {
            cursor: pointer;
            transition: 0.25s linear;
            background: black;
            color: white;
          }
        }
      }
      &:hover > .overlay {
        opacity: 1;
      }
    }
  }
}

//CONTACT
.contact {
  width: 100%;
  background: $color-light;
  padding: 50px 0 100px 0;

  .heading {
    display: flex; flex-direction: column; align-items: center;
    margin-bottom: 50px;
    h1 {
      text-align: center;
      margin-bottom: 10px;
      font-size: 64px;
      color: $color-dark;
    }
    .line {
      width: 100px; height: 5px;
      text-align: center;
      background: $color-dark;
    }
  }
  .links {
    display: flex; justify-content: center; flex-wrap: wrap;
    .item {
      margin: 0 25px;
      &:hover svg {
        color: $color-accent-primary;
        background: $color-dark;
      }
      svg {
        width: 150px; height: 150px;
        padding: 40px;
        text-align: center; line-height: 75px;
        background: $color-accent-primary;
        border-radius: 100%;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      p {
        display: block;
        text-align: center;
      }
    }
  }
}

//FOOTER
.footer {
  width: 100%;
  background: $color-accent-primary;
  padding: 50px 0 100px 0;

  .text {
    text-align: center;
    font-size: 32px;
  }
}