@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p, button, span, a {
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #00000a;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .links a {
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 32px;
  color: rgba(255, 255, 225, 0.5);
  padding: 10px 20px;
}

@media all and (max-width: 480px) {
  .navbar .links a {
    font-size: 24px;
  }
}

.navbar .links a:hover {
  color: #EAC440;
  cursor: pointer;
}

.hero {
  width: 100%;
  height: 100vh;
  background: #00000a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
}

@media all and (max-width: 480px) {
  .hero {
    padding-top: 100px;
  }
}

.hero .header {
  margin-bottom: 50px;
}

.hero .header h1 {
  font-size: 64px;
  color: #EAC440;
}

@media all and (max-width: 480px) {
  .hero .header h1 {
    font-size: 32px;
  }
}

.hero .header p {
  font-size: 32px;
  color: white;
}

@media all and (max-width: 480px) {
  .hero .header p {
    font-size: 24px;
  }
}

.hero .links {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 480px) {
  .hero .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero .links a {
  height: 60px;
  padding: 10px 30px;
  font-size: 24px;
  color: white;
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero .links a:hover {
  color: #00000a;
  background: #EAC440;
  cursor: pointer;
}

.hero .links :nth-child(1) {
  border-left: 2px solid #EAC440;
}

.hero .links :nth-child(2) {
  border: 2px solid #EAC440;
}

.hero .links :nth-child(3) {
  border-right: 2px solid #EAC440;
}

.about {
  width: 100%;
  background: #EAC440;
  padding: 50px 0 50px 0;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.about .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .heading h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 64px;
  color: #00000a;
}

.about .heading .line {
  width: 100px;
  height: 5px;
  text-align: center;
  background: #00000a;
}

.about .description {
  max-width: 720px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

@media all and (max-width: 768px) {
  .about .description {
    max-width: 400px;
  }
}

.about .description p {
  color: #00000a;
  font-size: 24px;
}

.about .description a {
  padding: 10px;
  font-size: 24px;
  background: #00000a;
  color: #EAC440;
  -webkit-transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
  transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
}

.about .description a:hover {
  border: 2px solid #00000a;
  background: #EAC440;
  color: #00000a;
}

.about .tech-stack {
  max-width: 480px;
  margin: auto;
  margin-top: 50px;
  padding: 15px;
  border-radius: 25px;
  background: #000024;
}

.about .tech-stack .heading {
  margin-bottom: 25px;
}

.about .tech-stack .heading h3 {
  padding-left: 5px;
  text-align: center;
  font-size: 32px;
  color: white;
  border-left: 3px solid white;
}

.about .tech-stack .items {
  text-align: center;
}

.about .tech-stack .items .item {
  font-size: 48px;
  color: #00000a;
  margin: 0 5px;
  -webkit-transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
  transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
}

.projects {
  width: 100%;
  background: white;
  padding: 50px 0 0 0;
  position: relative;
}

.projects .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.projects .heading h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 64px;
  color: #00000a;
}

.projects .heading .line {
  width: 100px;
  height: 5px;
  text-align: center;
  background: #00000a;
}

.projects .project-cards-container .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 15px;
  position: relative;
  display: flex;
  background: white;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.projects .project-cards-container .project-card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .project-cards-container .project-card .details .image-one {
  margin-right: 50px;
}

.projects .project-cards-container .project-card .details .image-two {
  margin-left: 50px;
}

.projects .project-cards-container .project-card .details .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project-cards-container .project-card .details .image img {
  width: 300px;
  height: 300px;
  border: 2px solid #00000a;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 480px) {
  .projects .project-cards-container .project-card .details .image img {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .projects .project-cards-container .project-card .details .image {
    margin: 0px;
  }
}

.projects .project-cards-container .project-card .details .text {
  width: 400px;
}

@media all and (max-width: 768px) {
  .projects .project-cards-container .project-card .details .text {
    width: 300px;
  }
}

.projects .project-cards-container .project-card .details .text h1 {
  font-size: 28px;
  color: #00000a;
  margin-bottom: 25px;
}

.projects .project-cards-container .project-card .details .text .icon {
  font-size: 24px;
}

.projects .project-cards-container .project-card .details .text .stack {
  color: #554409;
}

.projects .project-cards-container .project-card .details .text p {
  margin-bottom: 25px;
  text-align: justify;
}

.projects .project-cards-container .project-card .details .text button {
  margin-right: 15px;
  background: #EAC440;
  padding: 5px;
  border: none;
  color: #00000a;
  font-size: 18px;
}

.projects .project-cards-container .project-card .details .text button:hover {
  background: #00000a;
  color: #EAC440;
}

.projects .project-cards-container .line {
  width: 100%;
  height: 2px;
  background: #EAC440;
}

.contact {
  width: 100%;
  background: white;
  padding: 50px 0 100px 0;
}

.contact .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.contact .heading h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 64px;
  color: #00000a;
}

.contact .heading .line {
  width: 100px;
  height: 5px;
  text-align: center;
  background: #00000a;
}

.contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .links .item {
  margin: 0 25px;
}

.contact .links .item:hover svg {
  color: #EAC440;
  background: #00000a;
}

.contact .links .item svg {
  width: 150px;
  height: 150px;
  padding: 40px;
  text-align: center;
  line-height: 75px;
  background: #EAC440;
  border-radius: 100%;
  -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact .links .item p {
  display: block;
  text-align: center;
}

.footer {
  width: 100%;
  background: #EAC440;
  padding: 50px 0 100px 0;
}

.footer .text {
  text-align: center;
  font-size: 32px;
}
/*# sourceMappingURL=App.css.map */